<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/myStyle.css">
    <link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/misc.js"></script>   
    
</head>

<body>
  <div class="container">

      <div class="masthead">
        <h3 class="muted">WFMA para los amigos</h3>
        
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/">HOME</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="/posts">POSTS</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/users">USERS</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">

        <div id='logininfo'>
           <% if (session.user) { %>
               <%= session.user.name %>
               <a href='/logout'> Logout </a> 
           <% } else { %>
              <a href='/login?redir=/posts'> Login </a> 
              <a href='/users/new'> Register </a> 
           <% } %>
        </div>

        <section>
          <% var flash = flash() %>
          <% if (flash.info) { %>
            <article id='flashinfo'>
                   <h3>Información de interés:</h3>
                   <ul>
                      <% for (var i in flash.info) { %>
                        <li> <%= flash.info[i] %> </li>
                      <% } %>
                   </ul>
                 </article>
              <% } %>

              <% if (flash.success) { %>
                 <article id='flashsuccess'>
                   <h3>Tareas completadas con éxito:</h3>
                   <ul>
                      <% for (var i in flash.success) { %>
                         <li> <%= flash.success[i] %> </li>
                      <% } %>
                   </ul>
                 </article>
              <% } %>

              <% if (flash.error) { %>
                 <article id='flasherror'>
                   <h3>Errores encontrados:</h3>
                   <ul>
                      <% for (var i in flash.error) { %>
                        <li> <%= flash.error[i] %> </li>
                      <% } %>
                   </ul>
                 </article>
              <% } %>
        </section>

        <section>
          <hr />
           <%- body %>
          <hr />
          </section>
      </div>


      <div class="footer">
        <!-- Example row of columns -->
        <div class="row-fluid">

          <div class="span6">
            <h3>PATRICIA LOPEZ</h3>
            <p> By Leticia and Maria </p>
            <p><%= new Date() %></p>
          </div>
          
          <div class="span6">
            <h3>SEARCH</h3> <h6> Enter a word and we will find all the posts that contain it! </h6>
            <form method='GET' action='/posts/search'>
              <input type="text" name="palabra" size='20' value='...' />
              <input type="submit" value="Search"/>
            </form>
            <!--<p><a class="btn" type= "submit">Search</a></p> -->
         </div>
          
        </div>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

</body>
</html>